ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 2fr 2fr 1fr 4fr;
}

.authMenu,
.navMenu {
  display: flex;
  align-items: flex-start;
}

.authMenuItem:not(:last-child),
.navMenuItem:not(:last-child) {
  margin-right: 6px;
}

.authMenuItem,
.navMenuItem {
  line-height: 38px;
}
